*{
    box-sizing: border-box;
}
.main-section{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.9)
      ),url('../images/living-room-1835923_1920.jpg');
    height: 80vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
}
.collapse ul li{
    list-style-type: none;
    margin: 0 15px;
    padding: 5px 10px;
    display: inline-block;
}
.navbar {
    margin: auto;
}
.navbar-toggler-icon {
    background-color: black !important;
}
.title {
    line-height: 1.5;
}
.search-container{
    width: 700px;
    position: relative;
    top: -30px;
    background-color: white;
}

.card-title{
    font-size: 14px;
    font-weight: 600;
}

.footer{
    padding: 10px;
    background-color: #343a40;
}
.footer .footer-title{
    padding: 10px 40px;
    font-weight: 600;
}
.footer li{
    list-style-type: none;
    padding: 1px 10px;
    color: #6c757d;
    font-weight: 600;
}